@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.register{
  position: relative;
  margin-left: 35%;
  top:100px;
  border-top: 2px solid red;
  background: #222532;
  height: 550px;
  width: 350px;
}


.register_f{
  position: absolute;
  top: 100px;
  width: 100%;

}

.name_input{

  width: 100%;
  border: none;
  background: #32364A;
  border-top: 3px solid #393D52;
  border-bottom: 1px solid #393D52;
  height: 50px;

}

.icons{
  width: 70px;
  height: 30px;
  color: rgba(225,225,225,0.3);
  margin-top: 7px;
  margin: none;
  align-items: center;
  padding-top: 5px;
  padding-left: 30px;
  border-right: 1px solid rgba(225,225,225,0.3);
}

.input_f{
  text-align: center;
  margin-left: 10px;
  width: 250px;
  height: 25px;
  border: none;
  background: #393D52;
  font-family: 'Indie Flower', cursive;
  color:white;
}

.enter{

  height: 40px;
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
  border: 3px solid #D8628E;
  background: #32364A;
  border-radius: 20px;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  padding-top: 0;
}
.enter:hover{
  background:#D8628E;
}

.input_changing_class{
  border-right: 1px solid rgba(225,225,225,0.7) !important;
  color: rgba(225,225,225,0.7) !important;
}

input:focus {
    outline:none !important;
}

button:focus{
  outline: none !important;
}

a,a:hover,a:visited{
  color:white;
  text-decoration: none;
}

.redir_pos{
  font-size: 15px;
  float: right;
  position: absolute;
  top: 400px;
  left: 160px;
  width: 120px !important;
  height:40px !important;

}
